@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    width:450px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.yellow{
    display:block;
    width: 450px;
    height: 30px;
    background-color: #FFDC40;
    border-radius: 10px 10px 0px 0px;
}

.alphabet{
    width: 25px;
    margin-left: 270px;
    margin-bottom: 8px;
}
input{
    box-sizing: border-box;
    /* margin-left: 10px; */
    height: 35px;
    width: 260px;
    border: none;
    border-radius: 10px;
}
input:focus{
    outline: none;
}
.inp{
    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;
    margin-left: 15px;
    width: 300px;
    border: 1.35px solid #C4C4C4;
    border-radius: 10px;
}
.close{
    border: none;
    width: 18px;
}
.add{    
    margin-bottom: 20px;
    background-color: #833AE0;
    color: white;
    font-family: "Roboto", sans-serif;
    border: none;
    width:190px;
    height: 40px;
    border-radius: 20px;
}
.plus{
    background-color: #9953F1;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: -35px;
    z-index: 1;
    color: white;
}
.plusadd{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.list{
    display: flex;
    justify-content: flex-start;
    border: 1.35px solid #C4C4C4;
    border-radius: 10px;
    width: 300px;
    margin-left: 14px;
    /* gap: 10px; */
}
ol{
    counter-reset: lst;
}
.item{
    width: 250px;
    counter-increment: lst;
    display: flex;
    /* justify-content: space-between; */
    margin-left: -12px;
    margin-bottom: 5px;
    font-family: ;
}

.spanEl{
    word-break: break-all;
    display: flex;
    justify-content: flex-start;
    width: 280px;
}
.item::before{
    content: counter(lst) '. ';
}
.none{
    display: none !important;
}
.cls{
    width: 18px;
    margin-left: 2px;
    display: flex;
}
@media screen and (min-width: 560px) and (max-width:992px) {
    .all{
        margin-top: 150px;
        width:380px;
    }
    .yellow{
        width: 380px;
        height: 27px;
    }
    .alphabet{
        width: 22px;
        margin-left: 235px;
        margin-bottom: 5px;
    }
    input{
        box-sizing: border-box;
        height: 32px;
        width: 232px;
        border: none;
        border-radius: 10px;
    }
    input:focus{
        outline: none;
    }
    .inp{
        display: flex;
        /* justify-content: center; */
        margin-bottom: 10px;
        margin-left: 6px;
        width: 266px;
        border: 1.35px solid #C4C4C4;
        border-radius: 10px;
    }
    .close{
        border: none;
        width: 16px;
    }
    .add{    
        margin-bottom: 15px;
        width:150px;
        height: 35px;
        border-radius: 20px;
    }
    .plus{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: -34px;
    }
    .plusadd{
        margin-top: 12px;
    }
    .list{
        border-radius: 10px;
        width: 266px;
        margin-left: 6.5px;
        /* gap: 10px; */
    }
    .item{
        width: 225px;
        margin-left: -16px;
    }
    .cls{
        width:16px;
    }
}
@media screen and (min-width: 455px) and (max-width:560px) {
    .all{
        margin-top: 120px;
        width:280px;
    }
    .yellow{
        width: 280px;
        height: 23px;
    }
    h1{
        font-size: 27px;
    }
    .alphabet{
        width: 19px;
        margin-left: 175px;
        margin-bottom: 4px;
    }
    input{
        box-sizing: border-box;
        height: 32px;
        width: 178px;
        border: none;
        border-radius: 10px;
    }
    input:focus{
        outline: none;
    }
    .inp{
        display: flex;
        /* justify-content: center; */
        margin-bottom: 10px;
        margin-left: 3px;
        width: 209px;
        border: 1.35px solid #C4C4C4;
        border-radius: 10px;
    }
    .close{
        border: none;
        width: 14px;
    }
    .add{    
        margin-bottom: 13px;
        width:110px;
        height: 27px;
        border-radius: 22px;
    }
    .plus{
        width: 27px;
        height: 27px;
        border-radius: 50%;
        margin-right: -27px;
    }
    .plusadd{
        margin-top: 10px;
    }
    .list{
        border-radius: 10px;
        width: 208px;
        margin-left: 3.5px;
        /* gap: 10px; */
    }
    .item{
        width: 160px;
        margin-left: -8px;
    }
    .cls{
        width:14px;
    }
}
@media screen and (min-width: 320px) and (max-width:455px) {
    .all{
        margin-top: 110px;
        width:220px;
    }
    .yellow{
        width: 220px;
        height: 20px;
    }
    h1{
        font-size: 23px;
    }
    .alphabet{
        width: 17.5px;
        margin-left: 145px;
        margin-bottom: 4px;
    }
    input{
        box-sizing: border-box;
        height: 32px;
        width: 153px;
        border: none;
        border-radius: 10px;
    }
    input:focus{
        outline: none;
    }
    .inp{
        display: flex;
        /* justify-content: center; */
        margin-bottom: 10px;
        margin-left: 2px;
        width: 176px;
        border: 1.35px solid #C4C4C4;
        border-radius: 10px;
    }
    .close{
        border: none;
        width: 12.5px;
    }
    .add{    
        margin-bottom: 11px;
        width:93px;
        height: 23px;
        border-radius: 22px;
        font-size: 11px;
    }
    .plus{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        margin-right: -23px;
    }
    .plusadd{
        margin-top: 9px;
    }
    .list{
        border-radius: 10px;
        width: 176.5px;
        margin-left: 3.3px;
        /* gap: 10px; */
    }
    .item{
        width: 135px;
        margin-left: -8px;
        font-size: 14px;
    }
    .cls{
        width:12.5px;
    }
}