@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    width:450px;
    border: 1px solid black;
    border-radius: 6px;

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.yellow{
    display:block;
    width: 450px;
    height: 30px;
    background-color: #FFDC40;
    border-radius: 6px 6px 0px 0px;
}
h2{
    font-family:"Roboto", sans-serif;
}
.alphabet{
    width: 25px;
    margin-left: 270px;
    margin-bottom: 8px;
}
input{
    box-sizing: border-box;
    width: 300px;
    height: 35px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 40px;
}
.inp{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.close{
    border: none;
    margin-left: -30px;
    width: 18px;
}
.add{
    margin-bottom: 20px;
} 
.add{
    background-color: #833AE0;
    color: white;
    font-family: "Roboto", sans-serif;
    border: none;
    width:190px;
    height: 40px;
    border-radius: 20px;
}
.plus{
    background-color: #9953F1;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: -35px;
    z-index: 1;
    color: white;
}
.plusadd{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ol{
    /* box-sizing: border-box; */
    /* gap: 10px; */
}
.list{
    display: flex;
    justify-content: flex-start;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    width: 300px;
    margin-left: 14px;
    /* gap: 10px; */
}
.item{
    word-wrap: break-word;
    width: 258px;
    margin-left: -9px;

}
.none{
    display: none;
}
